<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="Logs\nlog-all-${shortdate}.json">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="eventId" layout="${event-properties:item=EventId_Id}" />
				<attribute name="level" layout="${uppercase:${level}}"/>
				<attribute name="message" layout="${message} ${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>